<p><b>Free Items:</b></p>
<p>Scheme Type: {{ scheme_type }} </p>

{% if (scheme_type == "Fix") { %}
<table class="table table-bordered table-condensed" id="header-fixed">
    <thead>
        <tr>
            <td align="pull-right"><b>Sr. No</b></td>
            <td align="pull-left"><b>Item Code</b></td>
        </tr>
    </thead>
    <tbody>
 {% for(var i=0, l=free_item.length; i < l; i++) { %}
        <tr>
            <td>{{ i+1 }}	</td><td>{{ free_item[i].item_code }}</td>
        </tr>
{% } %}
    </tbody>
</table>
{% } %} 

{% if (scheme_type == "Selective") { %}
<button class="btn btn-default btn-sm" id="add-selected-item">Select</button>
<table class="table table-bordered table-condensed" id="header-fixed">
    <thead>
        <tr>
            <td align="pull-right"><b>Sr. No</b></td>
            <td align="pull-right"><b>Select</b></td>
            <td align="pull-left"><b>Item Code</b></td>
        </tr>
    </thead>
    <tbody>
 {% for(var i=0, l=free_item.length; i < l; i++) { %}
        <tr>
            <td>{{ i+1 }}	</td>
            <td>
                <input type="radio" class="select" id="_select" value={{free_item[i].item_code}} name="_select">
                </td>
            <td>{{ free_item[i].item_code }}</td>
        </tr>
{% } %}
    </tbody>
</table>
{% } %} 